.popup {
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    position: fixed;
    &--opened {
        visibility: visible;
        background-color: rgba($color: $trueBlack, $alpha: .6);
        z-index: 1;
        @include smooth;
    }
}

.lock {
    overflow: hidden;
}

.close {
    position: relative;
    top: 50px;
    left: 400px;
    &:hover {
        cursor: pointer;
    }
}

.popup__content {
    background: $trueWhite;
    width: 768px;
    padding: 100px 50px;
    margin: 0 auto;
}

.popup__title {
    font-size: 36px;
    font-weight: 600;
}

.popup__title__span {
    color: $titleGold;
}

.popup__subtitle {
    color: $black;
    font-size: 16px;
}

.popup__subtitle__span {
    color: $linkHover;
}

//form 

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form__input {
    box-sizing: border-box;
    width: 278px;
    height: 40px;
    border: 1px dotted #cccccc;
    padding: 0 0 0 16.5px;
    margin: 35px 0 8px 0;
    &:last-child {
        margin: 0;
    }
}

.form__input:hover {
    box-shadow: 0 0 30px rgba(180, 180, 180, 0.4);
    @include smooth;
}

.form-btn {
    box-sizing: border-box;
    letter-spacing: -1px;
}

.form__eula {
    margin: 8px -5px 10px 0;
    letter-spacing: 0.9px;
} 

#eula {
    margin: 0 5px 0 0;
}