$gotham: "GothamPro", "Verdana", sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;
$titleGold: #C5B08F;
$textMain: #727379;
$linkHover: #BFA883;
$btnGold: #C9B493;
$black: #272A41;
$footerCopy: #C5C5C5;